# Dependencies
node_modules/
*/node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local
.env.*.local
*/.env
*/.env.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*/. DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Misc
*.log
.watchmanconfig 